@use '../base/config';
@use '../base/corners';
@use '../base/gradients';


button {
    @include corners.rounded;
    @include gradients.box(config.$c-txt, 10%);
    padding: 6px 8px 5px 8px;
    border: 1px solid rgba(0,0,0,.1);
    font-size: config.$f-size - 2;
}