@use '../base/config';
@use '../base/corners';
@use '../base/gradients';
@use '../base/functions';

@use 'sass:color';


button {
    padding: 6px 8px 5px 8px;
    border: 2px solid config.$c-txt;
    font-size: config.$f-size - 2;

    &:active {
        background: config.$c-box;
    }
}
