/* Error: expected ":".
 *    ,
 * 42 | $test = $c-bg;
 *    |       ^
 *    '
 *   base/_config.scss 42:7  @use
 *   base/_main.scss 4:1     @use
 *   style.scss 1:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ":".\a    \2577 \a 42 \2502  $test = $c-bg;\a    \2502        ^\a    \2575 \a   base/_config.scss 42:7  @use\a   base/_main.scss 4:1     @use\a   style.scss 1:1          root stylesheet';
}
