@use 'base/main';
@use 'base/config';
@use 'base/typography';

@use 'modules/buttons';
@use 'modules/inputs';


body>article {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 60px;
}


.color-palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0px;

    margin: 20px 0px;


    li {
        height: 120px;
        width: 120px;
        list-style: none;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 8px;
    }

    li::before {
        content: attr(id) '\A \A';
    }
}
.color-palette::after {
    content: '* all colors are written as rgba() values.';
    color: config.$c-txt-note;
}


// COLORS
#c-light-bg         {background: config.$c-light-bg;        color: black;}
#c-light-txt        {background: config.$c-light-txt;       color: white;}
#c-light-txt-note   {background: config.$c-light-txt-note;  color: white;}
#c-light-accent     {background: config.$c-light-accent;    color: white;}
#c-light-box        {background: config.$c-light-box;       color: black;}
#c-dark-bg          {background: config.$c-dark-bg;         color: white;}
#c-dark-txt         {background: config.$c-dark-txt;        color: black;}
#c-dark-txt-note    {background: config.$c-dark-txt-note;   color: black;}
#c-dark-accent      {background: config.$c-dark-accent;     color: black;}
#c-dark-box         {background: config.$c-dark-box;        color: black;}


// FONTS
#f-sans {font-family: typography.$font-sans;}
#f-serif {font-family: typography.$font-serif;}
#f-mono {font-family: typography.$font-mono;}


// SHAPES & BOXES
.box {
    border: 1px solid config.$c-light-txt;
    width: 162px;
    height: 100px;
    margin: 20px 10px;
    padding: 8px;
}
#box-round {
    border-radius: 5px;
}