@use 'base/main';


body>* {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 60px;
}

.c-box {
    height: 100px;
    width: 100px;
    text-align: center;
}