@use '../base/config';

@mixin replace-with-icon($icon) {
    content: $icon;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

#admin-panel {
    visibility: hidden;
    color: config.$c-txt-note;
    position: relative;
    right: 24px; // TODO: find better fix

    &::before {
        visibility: visible;
        @include replace-with-icon("settings");
    }
    &:active, &:focus {color: config.$c-txt}
}

#form-login {
    max-width: 250px;

    &> input {
        width: 100%;
        margin-bottom: 10px;
    }
    &> button[type="submit"] {
        visibility: hidden;
        position: relative;
        border: none;
        background: none;
        top: -53px;
        left: 228px;

        &::before {
            visibility: visible;
            @include replace-with-icon("chevron_right");
        }
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        ". . ."
        ". login ."
        ". . admin"
    ;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
#admin-panel {grid-area: admin;}
#form-login {grid-area: login;}
