// This file contains all brand colors that can be used within the project.

$green: green; // used for sucess notifications
$red: red; // errors

// 50 shades of grey ;)
$lighter: rgba(230,230,230,1);
$light: rgba(200,200,200,1);
$dark: rgba(50,50,50,1);
$darker: rgba(20,20,20,1);