// This file contains all brand colors that can be used within the project.

$green: rgb(97, 255, 150); // used for sucess notifications
$red: rgb(255, 129, 177); // errors
$yellow: rgb(253, 255, 106);

// 50 shades of grey ;)
$lighter: rgba(230,230,230,1);
$light: rgba(200,200,200,1);
$dark: rgba(50,50,50,1);
$darker: rgba(20,20,20,1);