// In this file all necessary variables should be set.

@use 'typography';
@use 'colors';

$light-theme: false;

// DEFAULTS
// (if reassignment under COLOR SWITCH does not work)
$c-bg: white;
$c-txt: black;
$c-txt-note: grey;
$c-accent: red;
$c-box: lightgrey;


//  FONTS
$font-main: typography.$font-sans;
$f-size: 14pt;
$f-bold: 800;


// COLOR SWITCH
@if $light-theme {
    // COLORS LIGHT
    $c-bg: white !global;
    $c-txt: colors.$dark !global;
    $c-txt-note: rgba(0,0,0,.2) !global;
    $c-accent: black !global;
} @else {
    //  COLORS DARK
    $c-bg: colors.$darker !global;
    $c-txt: colors.$light !global;
    $c-txt-note: rgba(255,255,255,.2) !global;
    $c-accent: white !global;
}
