// In this file all necessary variables should be set.

@use 'typography';
@use 'colors';

$light-theme: true;


//  FONTS
$font-main: typography.$font-sans;
$f-size: 14pt;
$f-bold: 800;


// COLORS LIGHT
$c-light-bg: white;
$c-light-txt: colors.$dark;
$c-light-txt-note: rgba(0,0,0,.2);
$c-light-accent: black;

//  COLORS DARK
$c-dark-bg: colors.$darker;
$c-dark-txt: colors.$light;
$c-dark-txt-note: rgba(255,255,255,.2);
$c-dark-accent: white;


// COLORS
@if $light-theme {
    $c-bg: $c-light-bg;
    $c-txt: $c-light-txt;
    $c-txt-note: $c-light-txt-note;
    $c-accent: $c-light-accent;
} @else {
    $c-bg: $c-dark-bg;
    $c-txt: $c-dark-txt;
    $c-txt-note: $c-dark-txt-note;
    $c-accent: $c-dark-accent;
}


$test = $c-bg;