// In this file all necessary variables should be set.

@use 'typography';
@use 'colors';

$light-theme: true;

// DEFAULTS
// (if reassignment under COLOR SWITCH does not work)
$c-bg: white;
$c-txt: black;
$c-txt-note: grey;
$c-accent: red;
$c-box: lightgrey;
$c-warning: null;
$c-error: null;
$c-success: null;

//  FONTS
$font-main: typography.$font-sans;
$f-size: 14pt;
$f-bold: 800;

// TODO: replace with map()!
// COLORS LIGHT
$c-light-bg: white;
$c-light-txt: colors.$dark;
$c-light-txt-note: rgba(0,0,0,.2);
$c-light-accent: black;
$c-light-box: rgb(245, 245, 245);
$c-light-warning: colors.$yellow;
$c-light-error: colors.$red;
$c-light-success: colors.$green;

//  COLORS DARK
$c-dark-bg: colors.$darker;
$c-dark-txt: colors.$light;
$c-dark-txt-note: rgba(255,255,255,.2);
$c-dark-accent: white;
$c-dark-box: rgb(70, 70, 70);
$c-dark-warning: colors.$yellow;
$c-dark-error: colors.$red;
$c-dark-success: colors.$green;


// COLOR SWITCH
@if $light-theme {
    $c-bg: $c-light-bg !global;
    $c-txt: $c-light-txt !global;
    $c-txt-note: $c-light-txt-note !global;
    $c-accent: $c-light-accent !global;
    $c-box: $c-light-box !global;
    $c-warning: $c-light-warning !global;
    $c-error: $c-light-error !global;
    $c-success: $c-light-success !global;
} @else {
    $c-bg: $c-dark-bg !global;
    $c-txt: $c-dark-txt !global;
    $c-txt-note: $c-dark-txt-note !global;
    $c-accent: $c-dark-accent !global;
    $c-box: $c-dark-box !global;
    $c-warning: $c-dark-warning !global;
    $c-error: $c-dark-error !global;
    $c-success: $c-dark-success !global;
}
