// Defining text, colors and standard HTML elements (h1, ul, ...).

@use 'reset';
@use 'config';

body {
    background: config.$c-bg;
    font: config.$f-size config.$font-main;
    color: config.$c-txt;
    line-height: 14pt;
}



// HEADINGS
h1 {
    font-size: 3em;
    font-weight: 100;
    line-height: 3em;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.8em;
}

h3 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
}

// TODO: Should be written into vars
p {
    margin-bottom: 12pt;
}

// LISTS
ul, ol, dl {margin: 10px 0px 25px 0px;}
dl {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    dt {
        font-weight: config.$f-bold;
        width: 29%;
    }

    dd {
        width: 70%;
        margin-bottom: 10px;
    }
}

ul, ol {
    padding-left: 50px;

    li {
        margin-bottom: 10px;
    }
}
